.footer {
    .footer-mobile {
        display: block;
        background: #f5d8b2;

        .mobile-banner {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            border-top: 1px solid #000000;
            font-family: "Lato", sans-serif;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                pointer-events: none;
                background: linear-gradient(#f5d8b2, #c1d373);
                opacity: 0;
                transition: opacity 0.5s ease;
            }

            &.gradient::after {
                opacity: 1;
                transition-delay: 0.5s;
            }

            > * {
                position: relative;
                z-index: 1;
            }

            .banner-title {
                font-size: 1.2rem;
                font-weight: bold;
                margin: 1rem;
                font-family: "Lato", sans-serif;
                color: #333;
            }
            .banner-arrow {
                width: 1rem;
                height: 1rem;
                margin: 1rem;
                transition: transform 0.5s ease;
            }
        }

        .banner-arrow.open {
            transform: rotate(180deg);
        }

        .mobile-informations {
            max-height: 0;
            overflow: hidden;
            background: linear-gradient(#f5d8b2, #c1d373);
            transition: max-height 1s ease;
            background-color: #f5d8b2;
            padding: 0 1rem;
            text-align: center;

            a {
                display: block;
                padding: 0.6rem 0;
                text-decoration: none;
                color: #333;
                font-family: "Montserrat", sans-serif;
            }
        }

        .mobile-informations.visible {
            max-height: 2000px; /* selon contenu */
        }

        .mobile-copyright {
            padding: 1rem;
            background: #c1d373;
            text-align: center;
            font-family: "Montserrat", sans-serif;
        }
    }
}

.footer-desktop {
    background-color: #c1d373;
    .desktop-banner {
        height: 7rem;
        width: 100%;
        background-image: url("/images/BannerFlower.webP");
        background-size: 20vw;
        background-position: center;
    }
    .desktop-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 1rem;
        width: 78%;
        max-width: 50rem;
        margin: auto;

        .container-about {
            display: flex;
            flex-direction: column;
            .about-logo {
                display: flex;
                flex-direction: row;
                align-items: center;
                .logo-picture {
                    width: 6rem;
                    height: auto;
                    display: block;
                    margin: 0.5rem 0;
                }
                .logo-title {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-left: 1rem;
                    color: #333;
                }
            }
            .about-description {
                width: 20rem;
                padding-bottom: 1rem;
                font-size: 1rem;
                color: #333;
                font-family: "Montserrat", sans-serif;
            }
        }
        .container-navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
            .navigation-title {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 2.5rem 0 1rem 0;
                font-family: "Lato", sans-serif;
                color: #333;
            }
            .navigation-link {
                margin: auto 0.5rem;
                color: #333;
                font-family: "Montserrat", sans-serif;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .container-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            .contact-title {
                font-size: 1.5rem;
                font-weight: bold;
                margin: 2.5rem 0 1rem 0;
                font-family: "Lato", sans-serif;
                color: #333;
            }
            .contact-infos {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: center;
                .infos-link {
                    margin: 0.8rem 0.5rem 0.2rem 0.5rem;
                    color: #333;
                    font-family: "Montserrat", sans-serif;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .desktop-line {
        background-color: #c1d373;
        .line {
            height: 1px;
            width: 50%;
            margin: auto;
            background-color: #000000;
        }
    }
    .desktop-copyright {
        padding: 1rem;
        background-color: #c1d373;
        text-align: center;
    }
}

@media screen and (min-width: 850px) {
    .footer {
        .footer-mobile {
            display: none;
        }
        .footer-desktop {
            display: block;
        }
    }
}
@media screen and (max-width: 849px) {
    .footer {
        .footer-mobile {
            display: block;
        }
        .footer-desktop {
            display: none;
        }
    }
}
