.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 6rem 0;
    background-color: #f5d8b2;
    scroll-margin-top: 80px;

    .home-picture {
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: 15rem;

        img {
            box-shadow: 0 0.5rem 1rem rgba(38, 94, 66, 0.52);
            width: 100%;
            height: auto;
            object-fit: fill;
            z-index: 1;

            border-radius: 30px;
            display: block;
        }
    }
    .home-content {
        z-index: 1;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 0.5rem 1rem rgba(38, 94, 66, 0.52);
        width: 85%;
        max-width: 100%;

        .content-title {
            color: #333;
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: left;
            padding: 1.2rem 1.2rem 0 1.2rem;
            font-family: "Lato", sans-serif;
        }
        .content-description {
            font-size: 1.1rem;
            color: #333;
            text-align: left;
            margin-bottom: 1rem;
            padding: 0 1.2rem 0 1.2rem;
            font-family: "Montserrat", sans-serif;
        }
        .content-comment {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 0 1.2rem 1.2rem;

            .comment-picture {
                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid #ccc;
                }
            }
            .comment-text {
                font-size: 1rem;
                color: #333;
                text-align: left;
                .text-author {
                    font-weight: bold;
                    color: #333;
                    margin-bottom: 0.1rem;
                    font-family: "Lato", sans-serif;
                }
                .text-description {
                    font-style: italic;
                    color: #666;
                    font-family: "Montserrat", sans-serif;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
.home-filigrane,
.home-filigrane3,
.home-filigrane5,
.home-filigrane7 {
    position: absolute;
    top: 20.5rem;
    left: 0;
    width: 900px;
    opacity: 0.5;
    z-index: 0;
}
.home-filigrane2,
.home-filigrane4,
.home-filigrane6,
.home-filigrane8 {
    position: absolute;
    top: 75rem;
    right: 0;
    width: 900px;
    opacity: 0.5;
    z-index: 0;
    transform: scaleX(-1);
}

@media screen and (min-width: 1000px) {
    .home-filigrane,
    .home-filigrane2,
    .home-filigrane3,
    .home-filigrane4,
    .home-filigrane5,
    .home-filigrane6,
    .home-filigrane7,
    .home-filigrane8 {
        width: 600px;
    }
    .home-filigrane2 {
        top: 60rem;
    }
    .home-filigrane3 {
        top: 100rem;
    }
    .home-filigrane4 {
        top: 140rem;
    }
    .home-filigrane5 {
        top: 180rem;
    }
    .home-filigrane6 {
        top: 220rem;
    }
    .home-filigrane7 {
        top: 260rem;
    }
    .home-filigrane8 {
        top: 300rem;
    }
}
@media screen and (max-width: 1000px) {
    .home-filigrane,
    .home-filigrane2,
    .home-filigrane3,
    .home-filigrane4,
    .home-filigrane5,
    .home-filigrane6,
    .home-filigrane7,
    .home-filigrane8 {
        width: 600px;
    }
    .home-filigrane2 {
        top: 60rem;
    }
    .home-filigrane3 {
        top: 100rem;
    }
    .home-filigrane4 {
        top: 140rem;
    }
    .home-filigrane5 {
        top: 180rem;
    }
    .home-filigrane6 {
        top: 220rem;
    }
    .home-filigrane7 {
        top: 260rem;
    }
    .home-filigrane8 {
        top: 300rem;
    }
}
@media screen and (max-width: 600px) {
    .home-filigrane,
    .home-filigrane2,
    .home-filigrane3,
    .home-filigrane4,
    .home-filigrane5,
    .home-filigrane6,
    .home-filigrane7,
    .home-filigrane8 {
        width: 320px;
    }
    .home-filigrane2 {
        top: 40rem;
    }
    .home-filigrane3 {
        top: 65rem;
    }
    .home-filigrane4 {
        top: 90rem;
    }
    .home-filigrane5 {
        top: 115rem;
    }
    .home-filigrane6 {
        top: 140rem;
    }
    .home-filigrane7 {
        top: 165rem;
    }
    .home-filigrane8 {
        top: 190rem;
    }
}

@media screen and (min-width: 600px) {
    .home-filigrane6,
    .home-filigrane5,
    .home-filigrane7,
    .home-filigrane8 {
        display: none;
    }
}
@media screen and (min-width: 728px) {
    .home-filigrane4 {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .home {
        flex-direction: row;
        .home-picture {
            width: 50%;
            max-width: 20rem;
        }
        .home-content {
            width: 50%;
            max-width: 30rem;
        }
    }
}

@media screen and (min-width: 1300px) {
    .home {
        .home-picture {
            max-width: 35rem;
        }
        .home-content {
            max-width: 50rem;
            .content-description {
                font-size: 1.5rem;
            }
            .content-comment {
                .comment-picture {
                    img {
                        width: 5rem;
                        height: 5rem;
                    }
                }
                .comment-text {
                    font-size: 1.3rem;
                    .text-description {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
