.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        min-width: 300px;
        position: relative;
        .close-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
        .modal-title {
            margin-bottom: 15px;
            font-size: 24px;
            text-align: center;
            font-family: "Lato", sans-serif;
        }
        .modal-picture {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}
